//color
$text-c1-primary: #b61984;
$text-c1-dark: #000;
$text-c1-light: #fff;
//font-weight
$text-light: 300;
$text-regular: 400;
$text-semibold: 600;
$text-bold: 700;
//font-size
$text-xs: 14px;
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl: 60px;
//bg
$bg-c1-primary: #b61984;
$bg-c1-light: #fff;
$bg-transparent : transparent;
$bg-c1-violet: #dcd1f0;
$bg-c1-dark: #000;
//color boder
$bd-c1: #e5e5e5;
@mixin text ($fs: $text-base, $fw: $text-regular, $c: $text-c1-dark) {
    font-size: $fs;
    font-weight: $fw;
    color: $c;
}



@mixin button($fz, $fw, $c, $bg, $pd, $bd, $br, $c-hover, $bg-hover, $br-hover) {

    @include text($fz, $fw , $c );
    background: $bg;
    padding: $pd;
    border: $bd;
    border-radius: $br;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
        background: $bg-hover ;
        color: $c-hover;
        border: $br-hover ;

    }
}

@mixin input($pd, $br, $bd) {
    padding:$pd ;

    border-radius:$br;
    border:$bd ;
    &:focus{
        outline: none;
    }
}
@mixin icon($top,$lef,$color,$lh) {
    position: absolute;
    top:$top ;
    left: $lef;
    color:$color ;
    line-height:$lh ;
    
}